/* App.css */

.App {
  font-family: Arial, sans-serif;
  margin: 20px auto;
  max-width: 1200px; /* Increased max-width for larger display */
  padding: 20px;
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjusted justify-content */
}

.movies > div {
  width: 200px; /* Set fixed width for movie container */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.movies > div:hover {
  transform: translateY(-5px);
}

.movies img {
  max-width: 100%; /* Limit maximum width of the poster */
  height: auto;
}

.movie-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.favorite-movies {
  margin-top: 20px;
}

.favorite-movies h2 {
  margin-bottom: 10px;
}

.favorite-movies > div {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
